---
import Layout from '../components/layout/Layout.astro';

import HomeHero from '../components/sections/HomeHero.astro';
import AutomationProcesses from '../components/sections/AutomationProcesses.astro';
import TargetAudiences from '../components/sections/TargetAudiences.astro';
import SolutionExamples from '../components/sections/SolutionExamples.astro';
import KonkursBstuPreview from '../components/sections/KonkursBstuPreview.astro';
import ServicesPreview from '../components/sections/ServicesPreview.astro';
import ProjectsPreview from '../components/sections/ProjectsPreview.astro';
import BenefitsBeforeAfter from '../components/sections/BenefitsBeforeAfter.astro';
import WorkProcess from '../components/sections/WorkProcess.astro';
import DemoBlock from '../components/sections/DemoBlock.astro';
import LeadMagnetBlock from '../components/sections/LeadMagnetBlock.astro';
import FAQSection from '../components/sections/FAQSection.astro';
import FinalCTA from '../components/sections/FinalCTA.astro';

import { getSEO } from '../data/seo';
import { faq } from '../data/faq';
import {
  createFAQSchema,
  createPersonSchema,
  createServiceSchema,
  createWebSiteSchema,
} from '../data/schema';

const pageSeo = getSEO('/')!;
---

<Layout
  title={pageSeo.title}
  description={pageSeo.description}
  canonicalPath="/"
  schema={[
    createWebSiteSchema(),
    createPersonSchema(),
    createServiceSchema(),
    createFAQSchema(faq.slice(0, 6)),
  ]}
>
  <main>
    <HomeHero />
    <AutomationProcesses />
    <TargetAudiences />
    <SolutionExamples />
    <KonkursBstuPreview />
    <ServicesPreview />
    <ProjectsPreview />
    <BenefitsBeforeAfter />
    <WorkProcess />
    <DemoBlock />
    <LeadMagnetBlock />
    <FAQSection />
    <FinalCTA />
  </main>
</Layout>